<!DOCTYPE html>
<html lang="en" ng-app="ameApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles/main.min.css">
	<title ng-bind="metaTitle"></title>
</head>
<body>
	<h1>This should be stylized if Sass and angular are working properly</h1>
	<p>Enter your name:
		<input type="text" ng-model="name">
	</p>
	<h1>Hi {{name}}! Welcome to the site!</h1>

	<script src="http://cdn.hasshdigital.com/repository/scripts/angular.min.js"></script>
	<script src="/scripts/app.min.js"></script>
</body>
</html>