/* To include
* Responsive formats and queries
* Transitions and animations
* Redundant styling
*/

// To start with a few

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin lighten($color, $amount){
	color: $color $amount;
}